<!doctype html>
<html lang="en">

<head>
    <title>About</title>
    <link href="/static/base.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
</head>

<body>
<h3></h3>
<h3>Brought to you by the Python Lounge</h3>
<h3></h3>

<img src="{{ user_image }}" alt="Python Lounge Icon" height="300px" width="300px">

<h3>About HTML</h3>
<form method="post" action="/">
    <input type="submit" value="Main" name="action4"/>
</form>
</body> 

</html>
