<!DOCTYPE html>
<html lang="en">

<head>
    <title>Playing with Flask</title>
    <link href="/static/base.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
</head>

<body>
<img src="{{ user_image }}" alt="Main Icon" height="300px" width="300px">

<h3>Index HTML</h3>
    <form method="post" action="/">
        <input type="submit" value="Chapter 1" name="action1"/>
        <input type="submit" value="Chapter 2" name="action2"/>
        <input type="submit" value="About" name="action3"/>
    </form>

</body>

</html>
    
